*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
test/dish_1561494001.png filter=lfs diff=lfs merge=lfs -text
test/dish_1564590254.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565808975.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559149650.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559668016.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559838402.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560543465.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560802853.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561740411.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565972363.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565984345.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558717886.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558718974.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559845370.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561493975.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561577198.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565194852.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558380058.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559843715.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563305689.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563391413.png filter=lfs diff=lfs merge=lfs -text
test/dish_1564685144.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559233144.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559589873.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562605384.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562184628.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562602945.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562774346.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562785369.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565813414.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563910708.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565711183.png filter=lfs diff=lfs merge=lfs -text
test/dish_1566415591.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558114441.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558550181.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559238993.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560441529.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563565508.png filter=lfs diff=lfs merge=lfs -text
test/dish_1566922978.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558632233.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561060613.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562946075.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563565454.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565898590.png filter=lfs diff=lfs merge=lfs -text
test/dish_1566587958.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558030910.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558639979.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558640074.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561739930.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562169818.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565119418.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565727791.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558115825.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560975601.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562007904.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562180089.png filter=lfs diff=lfs merge=lfs -text
test/dish_1564086602.png filter=lfs diff=lfs merge=lfs -text
test/dish_1557861795.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563477736.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563551134.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565035858.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558549413.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559233756.png filter=lfs diff=lfs merge=lfs -text
test/dish_1564428444.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561663035.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562787783.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562873838.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558116486.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558381742.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558382263.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559242568.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559844683.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563207277.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563475874.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565195436.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565711154.png filter=lfs diff=lfs merge=lfs -text
test/dish_1567022180.png filter=lfs diff=lfs merge=lfs -text
test/dish_1556575083.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558640882.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560444914.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560455399.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565627800.png filter=lfs diff=lfs merge=lfs -text
test/dish_1568060697.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558375833.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558549605.png filter=lfs diff=lfs merge=lfs -text
test/dish_1559678629.png filter=lfs diff=lfs merge=lfs -text
test/dish_1560455158.png filter=lfs diff=lfs merge=lfs -text
test/dish_1568048053.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565196260.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558636928.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558718009.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562085132.png filter=lfs diff=lfs merge=lfs -text
test/dish_1563391375.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565109637.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565987116.png filter=lfs diff=lfs merge=lfs -text
test/dish_1558635400.png filter=lfs diff=lfs merge=lfs -text
test/dish_1561145732.png filter=lfs diff=lfs merge=lfs -text
test/dish_1562009120.png filter=lfs diff=lfs merge=lfs -text
test/dish_1564773942.png filter=lfs diff=lfs merge=lfs -text
test/dish_1565209922.png filter=lfs diff=lfs merge=lfs -text
